<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>登录</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <!-- Meta tag Keywords -->

    <!-- css files -->
    <link rel="stylesheet" href="/static/Manager/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="/static/Manager/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->

</head>

<body>
    <div class="main-bg" id="main">
        <!-- title -->
        <h1>图书馆管理系统</h1>
        <!-- //title -->
        <div class="sub-main-w3">
            <!-- vertical tabs -->
            <div class="vertical-tab">
                <div id="section1" class="section-w3ls">
                    <input type="radio" name="sections" id="option1", checked>
                    <article>
                        <form action="/Managers/manager/signin/" method="POST">
                            <h3 class="legend">账号登录</h3>
                            <div class="input">
                                <span class="fa fa-envelope-o" aria-hidden="true"></span>
                                <input type="text" placeholder="账号" name="login_account" required/>
                            </div>
                            <div class="input">
                                <span class="fa fa-key" aria-hidden="true"></span>
                                <input type="password"  placeholder="密码" name="login_password" required />
                            </div>
                            <button type="submit" class="btn submit">登 录</button>
                        </form>
                    </article>
                </div>
            </div>
            <!-- //vertical tabs -->
            {% if warning %}
            <script>
                alert('{{ warning }}');
            </script>
            {% endif %}
        </div>
    </div>

</body>
</html>
